<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://quote_database:3306/quote_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>

        <property name="connection_pool_size">1</property>

        <property name="hbm2ddl.auto">create</property>
        <property name="hibernate.order_updates">true</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>


        <property name="show_sql">true</property>

        <mapping class="com.cemnura.entity.Quote"/>
        <mapping class="com.cemnura.entity.MovieCharacter"/>
    </session-factory>
</hibernate-configuration>